$assetPath: "https://twardoch.github.io/Graduate-Variable-Font/fonts/"; // $assetPath : "../fonts/";
@font-face {
  font-style: normal;
  font-family: 'GRADUATE';
  src: url("#{$assetPath}GRADUATE.ttf");
}